In [1]:
import numpy as np
import pandas as pd

In [2]:
traffic_df = pd.read_csv('trafficdata.csv', delimiter = ';')

In [3]:
traffic_df

,index,City,ONS LACode,Area,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
0,0,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,7.0,0
1,1,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,11.0,1
2,2,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,1.0,0.0,0.0,0,0,0,1.0,7.0,2
3,3,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,9.0,3
4,4,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,12.0,4
5,5,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,13.0,5
6,6,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,14.0,6
7,7,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,1.0,0.0,0.0,0,0,0,1.0,14.0,7
8,8,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,4,0.0,0.0,0.0,0,0,0,0.0,12.0,8
9,9,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,16.0,9
10,10,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,19.0,10
11,11,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,17.0,11
12,12,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,5.0,12
13,13,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,9.0,13
14,14,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,1.0,0.0,0.0,0,0,0,1.0,9.0,14
15,15,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,3.0,15
16,16,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,3,0.0,0.0,0.0,0,0,0,0.0,9.0,16
17,17,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,15.0,17
18,18,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,3,0.0,0.0,0.0,0,0,0,0.0,17.0,18
19,19,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,12.0,19
20,20,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,16.0,20
21,21,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,0,0.0,0.0,0.0,0,0,0,0.0,9.0,21
22,22,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,2,0.0,0.0,0.0,0,0,0,0.0,21.0,22
23,23,Merseyside,E08000011,Knowsley,910004,352100,398200,53.478334,-2.723204,U,...,1,0.0,0.0,0.0,0,0,0,0.0,17.0,23
24,24,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,45,1.0,0.0,0.0,1,0,0,2.0,404.0,0
25,25,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,35,2.0,1.0,2.0,0,0,0,5.0,551.0,1
26,26,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,28,7.0,0.0,0.0,0,0,0,7.0,282.0,2
27,27,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,30,6.0,0.0,0.0,0,0,0,6.0,235.0,3
28,28,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,24,2.0,0.0,0.0,0,0,0,2.0,217.0,4
29,29,East Midlands,E10000024,Nottinghamshire,910005,451147,336827,52.926427,-1.240623,C159,...,31,4.0,1.0,0.0,0,0,0,5.0,284.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1743030,1743030,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,13,1.0,0.0,0.0,0,0,0,1.0,130.0,6
1743031,1743031,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,13,1.0,0.0,0.0,0,0,0,1.0,135.0,7
1743032,1743032,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,6,0.0,0.0,0.0,0,0,0,0.0,148.0,8
1743033,1743033,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,5,0.0,0.0,0.0,0,0,0,0.0,225.0,9
1743034,1743034,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,8,0.0,0.0,0.0,0,0,0,0.0,293.0,10
1743035,1743035,Scotland,S12000033,Aberdeen City,996715,390170,803893,57.125858,-2.163995,U,...,4,0.0,0.0,0.0,0,0,0,0.0,191.0,11
1743036,1743036,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,15,3.0,0.0,0.0,0,0,0,3.0,82.0,12
1743037,1743037,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,21,0.0,1.0,0.0,0,0,0,1.0,103.0,13
1743038,1743038,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,20,2.0,1.0,0.0,0,0,0,3.0,71.0,14
1743039,1743039,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,22,3.0,2.0,0.0,0,0,0,5.0,73.0,15
1743040,1743040,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,20,2.0,0.0,0.0,0,0,0,2.0,79.0,16
1743041,1743041,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,34,1.0,0.0,0.0,0,0,0,1.0,109.0,17
1743042,1743042,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,18,1.0,1.0,0.0,0,1,0,3.0,94.0,18
1743043,1743043,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,32,2.0,0.0,0.0,0,0,0,2.0,96.0,19
1743044,1743044,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,14,3.0,0.0,0.0,0,0,0,3.0,62.0,20
1743045,1743045,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,15,0.0,0.0,0.0,0,0,0,0.0,79.0,21
1743046,1743046,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,10,2.0,0.0,0.0,0,0,0,2.0,102.0,22
1743047,1743047,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,9,0.0,0.0,0.0,0,0,0,0.0,73.0,23
1743048,1743048,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,31,3.0,1.0,0.0,0,14,5,23.0,151.0,0
1743049,1743049,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,57,8.0,2.0,0.0,1,3,1,15.0,166.0,1
1743050,1743050,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,50,9.0,1.0,0.0,0,7,3,20.0,164.0,2
1743051,1743051,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,47,9.0,3.0,0.0,0,6,3,21.0,188.0,3
1743052,1743052,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,47,6.0,1.0,2.0,0,2,2,13.0,231.0,4
1743053,1743053,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,49,8.0,0.0,0.0,0,6,3,17.0,273.0,5
1743054,1743054,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,55,0.0,4.0,1.0,0,4,2,11.0,255.0,6
1743055,1743055,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,48,4.0,0.0,1.0,0,0,4,9.0,239.0,7
1743056,1743056,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,52,4.0,1.0,0.0,0,5,0,10.0,269.0,8
1743057,1743057,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,43,4.0,1.0,0.0,0,5,0,10.0,319.0,9
1743058,1743058,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,21,1.0,0.0,0.0,0,5,0,6.0,277.0,10
1743059,1743059,Scotland,S12000033,Aberdeen City,996768,394735,806176,57.146442,-2.088645,C,...,22,0.0,0.0,0.0,0,0,0,0.0,168.0,11

In [8]:
traffic_df.groupby('City').count()

,Area,Year,dCount,CAR,BUS,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
City,,,,,,,,,,,,,,,
East Midlands,133500,133500,133500,133500,133500,133500,133500,133500,133500,133500,133500,133500,133500,133500,133500
East of England,208752,208752,208752,208752,208752,208752,208752,208752,208752,208752,208752,208752,208752,208752,208752
London,118416,118416,118416,118416,118416,118416,118416,118416,118416,118416,118416,118416,118416,118416,118416
Merseyside,32868,32868,32868,32868,32868,32868,32868,32868,32868,32868,32868,32868,32868,32868,32868
North East,85559,85559,85559,85559,85559,85559,85559,85559,85559,85559,85559,85559,85559,85559,85559
North West,152712,152712,152712,152712,152712,152712,152712,152712,152712,152712,152712,152712,152712,152712,152712
Scotland,106604,106604,106604,106604,106604,106604,106604,106604,106604,106604,106604,106604,106604,106604,106604
South East,292739,292739,292739,292739,292739,292739,292739,292739,292739,292739,292739,292739,292739,292739,292739
South West,174416,174416,174416,174416,174416,174416,174416,174416,174416,174416,174416,174416,174416,174416,174416
Wales,109702,109702,109702,109702,109702,109702,109702,109702,109702,109702,109702,109702,109702,109702,109702
West Midlands,179655,179655,179655,179655,179655,179655,179655,179655,179655,179655,179655,179655,179655,179655,179655
Yorkshire & the Humber,148137,148137,148137,148137,148137,148137,148137,148137,148137,148137,148137,148137,148137,148137,148137

In [32]:
traffic_dff1 = traffic_df[traffic_df.City == 'East Midlands']
traffic_dff1.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Derby,9216,9216,9216,9216,9216,9216,9216,9216,9216,9000,...,9216,9216,9216,9216,9216,9216,9216,9216,9216,9216
Derbyshire,23712,23712,23712,23712,23712,23712,23712,23712,23712,22128,...,23712,23712,23712,23712,23712,23712,23712,23712,23712,23712
Leicester,7536,7536,7536,7536,7536,7536,7536,7536,7536,7488,...,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536
Leicestershire,21696,21696,21696,21696,21696,21696,21696,21696,21696,21000,...,21696,21696,21696,21696,21696,21696,21696,21696,21696,21696
Lincolnshire,19740,19740,19740,19740,19740,19740,19740,19740,19740,16608,...,19740,19740,19740,19740,19740,19740,19740,19740,19740,19740
Northamptonshire,21564,21564,21564,21564,21564,21564,21564,21564,21564,20700,...,21564,21564,21564,21564,21564,21564,21564,21564,21564,21564
Nottingham,7476,7476,7476,7476,7476,7476,7476,7476,7476,7476,...,7476,7476,7476,7476,7476,7476,7476,7476,7476,7476
Nottinghamshire,21000,21000,21000,21000,21000,21000,21000,21000,21000,20064,...,21000,21000,21000,21000,21000,21000,21000,21000,21000,21000
Rutland,1560,1560,1560,1560,1560,1560,1560,1560,1560,1560,...,1560,1560,1560,1560,1560,1560,1560,1560,1560,1560

In [31]:
traffic_dff2 = traffic_df[traffic_df.City == 'East of England']
traffic_dff2.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Bedford,4776,4776,4776,4776,4776,4776,4776,4776,4776,4536,...,4776,4776,4776,4776,4776,4776,4776,4776,4776,4776
Cambridgeshire,22524,22524,22524,22524,22524,22524,22524,22524,22524,20172,...,22524,22524,22524,22524,22524,22524,22524,22524,22524,22524
Central Bedfordshire,6420,6420,6420,6420,6420,6420,6420,6420,6420,5952,...,6420,6420,6420,6420,6420,6420,6420,6420,6420,6420
Essex,57432,57432,57432,57432,57432,57432,57432,57432,57432,52344,...,57432,57432,57432,57432,57432,57432,57432,57432,57432,57432
Hertfordshire,36312,36312,36312,36312,36312,36312,36312,36312,36312,33600,...,36312,36312,36312,36312,36312,36312,36312,36312,36312,36312
Luton,4740,4740,4740,4740,4740,4740,4740,4740,4740,4728,...,4740,4740,4740,4740,4740,4740,4740,4740,4740,4740
Norfolk,35880,35880,35880,35880,35880,35880,35880,35880,35880,35496,...,35880,35880,35880,35880,35880,35880,35880,35880,35880,35880
Peterborough,8256,8256,8256,8256,8256,8256,8256,8256,8256,7536,...,8256,8256,8256,8256,8256,8256,8256,8256,8256,8256
Southend-on-Sea,4032,4032,4032,4032,4032,4032,4032,4032,4032,3888,...,4032,4032,4032,4032,4032,4032,4032,4032,4032,4032
Suffolk,23232,23232,23232,23232,23232,23232,23232,23232,23232,16884,...,23232,23232,23232,23232,23232,23232,23232,23232,23232,23232
Thurrock,5148,5148,5148,5148,5148,5148,5148,5148,5148,4812,...,5148,5148,5148,5148,5148,5148,5148,5148,5148,5148

In [30]:
traffic_dff3 = traffic_df[traffic_df.City == 'London']
traffic_dff3.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Barking and Dagenham,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160,...,2160,2160,2160,2160,2160,2160,2160,2160,2160,2160
Barnet,4200,4200,4200,4200,4200,4200,4200,4200,4200,4200,...,4200,4200,4200,4200,4200,4200,4200,4200,4200,4200
Bexley,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988,...,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988
Brent,3972,3972,3972,3972,3972,3972,3972,3972,3972,3780,...,3972,3972,3972,3972,3972,3972,3972,3972,3972,3972
Bromley,6840,6840,6840,6840,6840,6840,6840,6840,6840,6840,...,6840,6840,6840,6840,6840,6840,6840,6840,6840,6840
Camden,2484,2484,2484,2484,2484,2484,2484,2484,2484,2484,...,2484,2484,2484,2484,2484,2484,2484,2484,2484,2484
City of London,1056,1056,1056,1056,1056,1056,1056,1056,1056,1056,...,1056,1056,1056,1056,1056,1056,1056,1056,1056,1056
Croydon,6720,6720,6720,6720,6720,6720,6720,6720,6720,6720,...,6720,6720,6720,6720,6720,6720,6720,6720,6720,6720
Ealing,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860,...,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860
Enfield,3312,3312,3312,3312,3312,3312,3312,3312,3312,3240,...,3312,3312,3312,3312,3312,3312,3312,3312,3312,3312
Greenwich,4212,4212,4212,4212,4212,4212,4212,4212,4212,4212,...,4212,4212,4212,4212,4212,4212,4212,4212,4212,4212
Hackney,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352,...,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352
Hammersmith and Fulham,1824,1824,1824,1824,1824,1824,1824,1824,1824,1824,...,1824,1824,1824,1824,1824,1824,1824,1824,1824,1824
Haringey,2760,2760,2760,2760,2760,2760,2760,2760,2760,2736,...,2760,2760,2760,2760,2760,2760,2760,2760,2760,2760
Harrow,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,...,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096
Havering,5076,5076,5076,5076,5076,5076,5076,5076,5076,5004,...,5076,5076,5076,5076,5076,5076,5076,5076,5076,5076
Hillingdon,8520,8520,8520,8520,8520,8520,8520,8520,8520,8328,...,8520,8520,8520,8520,8520,8520,8520,8520,8520,8520
Hounslow,4356,4356,4356,4356,4356,4356,4356,4356,4356,4284,...,4356,4356,4356,4356,4356,4356,4356,4356,4356,4356
Islington,2376,2376,2376,2376,2376,2376,2376,2376,2376,2352,...,2376,2376,2376,2376,2376,2376,2376,2376,2376,2376
Kensington and Chelsea,2208,2208,2208,2208,2208,2208,2208,2208,2208,2208,...,2208,2208,2208,2208,2208,2208,2208,2208,2208,2208
Kingston upon Thames,3372,3372,3372,3372,3372,3372,3372,3372,3372,3372,...,3372,3372,3372,3372,3372,3372,3372,3372,3372,3372
Lambeth,3684,3684,3684,3684,3684,3684,3684,3684,3684,3684,...,3684,3684,3684,3684,3684,3684,3684,3684,3684,3684
Lewisham,4548,4548,4548,4548,4548,4548,4548,4548,4548,4548,...,4548,4548,4548,4548,4548,4548,4548,4548,4548,4548
Merton,2940,2940,2940,2940,2940,2940,2940,2940,2940,2916,...,2940,2940,2940,2940,2940,2940,2940,2940,2940,2940
Newham,2784,2784,2784,2784,2784,2784,2784,2784,2784,2784,...,2784,2784,2784,2784,2784,2784,2784,2784,2784,2784
Redbridge,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712,...,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712
Richmond upon Thames,4020,4020,4020,4020,4020,4020,4020,4020,4020,4020,...,4020,4020,4020,4020,4020,4020,4020,4020,4020,4020
Southwark,1632,1632,1632,1632,1632,1632,1632,1632,1632,1632,...,1632,1632,1632,1632,1632,1632,1632,1632,1632,1632
Sutton,4884,4884,4884,4884,4884,4884,4884,4884,4884,4884,...,4884,4884,4884,4884,4884,4884,4884,4884,4884,4884
Tower Hamlets,3720,3720,3720,3720,3720,3720,3720,3720,3720,3672,...,3720,3720,3720,3720,3720,3720,3720,3720,3720,3720
Waltham Forest,1860,1860,1860,1860,1860,1860,1860,1860,1860,1860,...,1860,1860,1860,1860,1860,1860,1860,1860,1860,1860
Wandsworth,3816,3816,3816,3816,3816,3816,3816,3816,3816,3816,...,3816,3816,3816,3816,3816,3816,3816,3816,3816,3816
Westminster,3072,3072,3072,3072,3072,3072,3072,3072,3072,3072,...,3072,3072,3072,3072,3072,3072,3072,3072,3072,3072

In [29]:
traffic_dff4 = traffic_df[traffic_df.City == 'Merseyside']
traffic_dff4.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Knowsley,5460,5460,5460,5460,5460,5460,5460,5460,5460,5196,...,5460,5460,5460,5460,5460,5460,5460,5460,5460,5460
Liverpool,11748,11748,11748,11748,11748,11748,11748,11748,11748,11724,...,11748,11748,11748,11748,11748,11748,11748,11748,11748,11748
Sefton,4740,4740,4740,4740,4740,4740,4740,4740,4740,4668,...,4740,4740,4740,4740,4740,4740,4740,4740,4740,4740
St. Helens,3600,3600,3600,3600,3600,3600,3600,3600,3600,3528,...,3600,3600,3600,3600,3600,3600,3600,3600,3600,3600
Wirral,7320,7320,7320,7320,7320,7320,7320,7320,7320,7212,...,7320,7320,7320,7320,7320,7320,7320,7320,7320,7320

In [28]:
traffic_dff5 = traffic_df[traffic_df.City == 'North East']
traffic_dff5.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Darlington,3408,3408,3408,3408,3408,3408,3408,3408,3408,3240,...,3408,3408,3408,3408,3408,3408,3408,3408,3408,3408
Durham,14376,14376,14376,14376,14376,14376,14376,14376,14376,10944,...,14376,14376,14376,14376,14376,14376,14376,14376,14376,14376
Gateshead,9708,9708,9708,9708,9708,9708,9708,9708,9708,9036,...,9708,9708,9708,9708,9708,9708,9708,9708,9708,9708
Hartlepool,3144,3144,3144,3144,3144,3144,3144,3144,3144,2976,...,3144,3144,3144,3144,3144,3144,3144,3144,3144,3144
Middlesbrough,6648,6648,6648,6648,6648,6648,6648,6648,6648,6624,...,6648,6648,6648,6648,6648,6648,6648,6648,6648,6648
Newcastle upon Tyne,10044,10044,10044,10044,10044,10044,10044,10044,10044,9636,...,10044,10044,10044,10044,10044,10044,10044,10044,10044,10044
North Tyneside,6359,6359,6359,6359,6359,6359,6359,6359,6359,6191,...,6359,6359,6359,6359,6359,6359,6359,6359,6359,6359
Northumberland,7800,7800,7800,7800,7800,7800,7800,7800,7800,3456,...,7800,7800,7800,7800,7800,7800,7800,7800,7800,7800
Redcar and Cleveland,4488,4488,4488,4488,4488,4488,4488,4488,4488,4260,...,4488,4488,4488,4488,4488,4488,4488,4488,4488,4488
South Tyneside,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152,...,4152,4152,4152,4152,4152,4152,4152,4152,4152,4152
Stockton-on-Tees,6372,6372,6372,6372,6372,6372,6372,6372,6372,6324,...,6372,6372,6372,6372,6372,6372,6372,6372,6372,6372
Sunderland,9060,9060,9060,9060,9060,9060,9060,9060,9060,8868,...,9060,9060,9060,9060,9060,9060,9060,9060,9060,9060

In [27]:
traffic_dff6 = traffic_df[traffic_df.City == 'North West']
traffic_dff6.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Blackburn with Darwen,3048,3048,3048,3048,3048,3048,3048,3048,3048,3048,...,3048,3048,3048,3048,3048,3048,3048,3048,3048,3048
Blackpool,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756,...,3756,3756,3756,3756,3756,3756,3756,3756,3756,3756
Bolton,8628,8628,8628,8628,8628,8628,8628,8628,8628,8604,...,8628,8628,8628,8628,8628,8628,8628,8628,8628,8628
Bury,4632,4632,4632,4632,4632,4632,4632,4632,4632,4632,...,4632,4632,4632,4632,4632,4632,4632,4632,4632,4632
Cumbria,15144,15144,15144,15144,15144,15144,15144,15144,15144,10668,...,15144,15144,15144,15144,15144,15144,15144,15144,15144,15144
East Cheshire,10968,10968,10968,10968,10968,10968,10968,10968,10968,10608,...,10968,10968,10968,10968,10968,10968,10968,10968,10968,10968
Halton,3600,3600,3600,3600,3600,3600,3600,3600,3600,3408,...,3600,3600,3600,3600,3600,3600,3600,3600,3600,3600
Lancashire,36024,36024,36024,36024,36024,36024,36024,36024,36024,35280,...,36024,36024,36024,36024,36024,36024,36024,36024,36024,36024
Manchester,11028,11028,11028,11028,11028,11028,11028,11028,11028,10848,...,11028,11028,11028,11028,11028,11028,11028,11028,11028,11028
Oldham,4464,4464,4464,4464,4464,4464,4464,4464,4464,4464,...,4464,4464,4464,4464,4464,4464,4464,4464,4464,4464
Rochdale,4716,4716,4716,4716,4716,4716,4716,4716,4716,4716,...,4716,4716,4716,4716,4716,4716,4716,4716,4716,4716
Salford,5724,5724,5724,5724,5724,5724,5724,5724,5724,5724,...,5724,5724,5724,5724,5724,5724,5724,5724,5724,5724
Stockport,7860,7860,7860,7860,7860,7860,7860,7860,7860,7860,...,7860,7860,7860,7860,7860,7860,7860,7860,7860,7860
Tameside,4128,4128,4128,4128,4128,4128,4128,4128,4128,4056,...,4128,4128,4128,4128,4128,4128,4128,4128,4128,4128
Trafford,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536,...,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536
Warrington,6240,6240,6240,6240,6240,6240,6240,6240,6240,6240,...,6240,6240,6240,6240,6240,6240,6240,6240,6240,6240
West Cheshire,8160,8160,8160,8160,8160,8160,8160,8160,8160,7896,...,8160,8160,8160,8160,8160,8160,8160,8160,8160,8160
Wigan,7056,7056,7056,7056,7056,7056,7056,7056,7056,7056,...,7056,7056,7056,7056,7056,7056,7056,7056,7056,7056

In [16]:
traffic_dff7 = traffic_df[traffic_df.City == 'Scotland']
traffic_dff7.groupby(['Area']).count()[['Year','dCount','CAR','BUS', 'LGV','HGVR2','HGVR3','HGVR4','HGVA3','HGVA5','HGVA6','HGV','AMV','hours']]

,Year,dCount,CAR,BUS,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,
Aberdeen City,3924,3924,3924,3924,3924,3924,3924,3924,3924,3924,3924,3924,3924,3924
Aberdeenshire,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040
Angus,3144,3144,3144,3144,3144,3144,3144,3144,3144,3144,3144,3144,3144,3144
Argyll & Bute,2256,2256,2256,2256,2256,2256,2256,2256,2256,2256,2256,2256,2256,2256
City of Edinburgh,7668,7668,7668,7668,7668,7668,7668,7668,7668,7668,7668,7668,7668,7668
Clackmannanshire,984,984,984,984,984,984,984,984,984,984,984,984,984,984
Comhairle nan Eilean Siar,1548,1548,1548,1548,1548,1548,1548,1548,1548,1548,1548,1548,1548,1548
Dumfries & Galloway,4728,4728,4728,4728,4728,4728,4728,4728,4728,4728,4728,4728,4728,4728
Dundee City,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832,2832
East Ayrshire,2400,2400,2400,2400,2400,2400,2400,2400,2400,2400,2400,2400,2400,2400
East Dunbartonshire,1944,1944,1944,1944,1944,1944,1944,1944,1944,1944,1944,1944,1944,1944
East Lothian,2388,2388,2388,2388,2388,2388,2388,2388,2388,2388,2388,2388,2388,2388
East Renfrewshire,1728,1728,1728,1728,1728,1728,1728,1728,1728,1728,1728,1728,1728,1728
Falkirk,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712
Fife,7824,7824,7824,7824,7824,7824,7824,7824,7824,7824,7824,7824,7824,7824
Glasgow City,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
Highland,5400,5400,5400,5400,5400,5400,5400,5400,5400,5400,5400,5400,5400,5400
Inverclyde,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352
Midlothian,1644,1644,1644,1644,1644,1644,1644,1644,1644,1644,1644,1644,1644,1644
Moray,1740,1740,1740,1740,1740,1740,1740,1740,1740,1740,1740,1740,1740,1740
North Ayrshire,1776,1776,1776,1776,1776,1776,1776,1776,1776,1776,1776,1776,1776,1776
North Lanarkshire,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672
Orkney Islands,1320,1320,1320,1320,1320,1320,1320,1320,1320,1320,1320,1320,1320,1320
Perth & Kinross,3456,3456,3456,3456,3456,3456,3456,3456,3456,3456,3456,3456,3456,3456
Renfrewshire,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096
Scottish Borders,3432,3432,3432,3432,3432,3432,3432,3432,3432,3432,3432,3432,3432,3432
Shetland Islands,960,960,960,960,960,960,960,960,960,960,960,960,960,960
South Ayrshire,2568,2568,2568,2568,2568,2568,2568,2568,2568,2568,2568,2568,2568,2568
South Lanarkshire,5640,5640,5640,5640,5640,5640,5640,5640,5640,5640,5640,5640,5640,5640
Stirling,2376,2376,2376,2376,2376,2376,2376,2376,2376,2376,2376,2376,2376,2376
West Dunbartonshire,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344
West Lothian,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000,3000

In [26]:
traffic_dff8 = traffic_df[traffic_df.City == 'South East']
traffic_dff8.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Bracknell Forest,3744,3744,3744,3744,3744,3744,3744,3744,3744,3744,...,3744,3744,3744,3744,3744,3744,3744,3744,3744,3744
Brighton and Hove,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536,...,7536,7536,7536,7536,7536,7536,7536,7536,7536,7536
Buckinghamshire,18168,18168,18168,18168,18168,18168,18168,18168,18168,17304,...,18168,18168,18168,18168,18168,18168,18168,18168,18168,18168
East Sussex,21180,21180,21180,21180,21180,21180,21180,21180,21180,19860,...,21180,21180,21180,21180,21180,21180,21180,21180,21180,21180
Hampshire,54780,54780,54780,54780,54780,54780,54780,54780,54780,50700,...,54780,54780,54780,54780,54780,54780,54780,54780,54780,54780
Isle of Wight,3144,3144,3144,3144,3144,3144,3144,3144,3144,3024,...,3144,3144,3144,3144,3144,3144,3144,3144,3144,3144
Kent,40728,40728,40728,40728,40728,40728,40728,40728,40728,39648,...,40728,40728,40728,40728,40728,40728,40728,40728,40728,40728
Medway,6216,6216,6216,6216,6216,6216,6216,6216,6216,6180,...,6216,6216,6216,6216,6216,6216,6216,6216,6216,6216
Milton Keynes,11100,11100,11100,11100,11100,11100,11100,11100,11100,10884,...,11100,11100,11100,11100,11100,11100,11100,11100,11100,11100
Oxfordshire,22644,22644,22644,22644,22644,22644,22644,22644,22644,17436,...,22644,22644,22644,22644,22644,22644,22644,22644,22644,22644
Portsmouth,5076,5076,5076,5076,5076,5076,5076,5076,5076,4884,...,5076,5076,5076,5076,5076,5076,5076,5076,5076,5076
Reading,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988,...,2988,2988,2988,2988,2988,2988,2988,2988,2988,2988
Slough,2640,2640,2640,2640,2640,2640,2640,2640,2640,2640,...,2640,2640,2640,2640,2640,2640,2640,2640,2640,2640
Southampton,6432,6432,6432,6432,6432,6432,6432,6432,6432,6432,...,6432,6432,6432,6432,6432,6432,6432,6432,6432,6432
Surrey,40931,40931,40931,40931,40931,40931,40931,40931,40931,40859,...,40931,40931,40931,40931,40931,40931,40931,40931,40931,40931
West Berkshire,5820,5820,5820,5820,5820,5820,5820,5820,5820,4716,...,5820,5820,5820,5820,5820,5820,5820,5820,5820,5820
West Sussex,29532,29532,29532,29532,29532,29532,29532,29532,29532,27324,...,29532,29532,29532,29532,29532,29532,29532,29532,29532,29532
Windsor and Maidenhead,5016,5016,5016,5016,5016,5016,5016,5016,5016,4752,...,5016,5016,5016,5016,5016,5016,5016,5016,5016,5016
Wokingham,5064,5064,5064,5064,5064,5064,5064,5064,5064,4896,...,5064,5064,5064,5064,5064,5064,5064,5064,5064,5064

In [25]:
traffic_dff9 = traffic_df[traffic_df.City == 'South West']
traffic_dff9.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Bath and North East Somerset,4836,4836,4836,4836,4836,4836,4836,4836,4836,4836,...,4836,4836,4836,4836,4836,4836,4836,4836,4836,4836
Bournemouth,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860,...,4860,4860,4860,4860,4860,4860,4860,4860,4860,4860
"Bristol, City of",12144,12144,12144,12144,12144,12144,12144,12144,12144,12144,...,12144,12144,12144,12144,12144,12144,12144,12144,12144,12144
Cornwall excluding Isles of Scilly,17052,17052,17052,17052,17052,17052,17052,17052,17052,6264,...,17052,17052,17052,17052,17052,17052,17052,17052,17052,17052
Devon,22032,22032,22032,22032,22032,22032,22032,22032,22032,12240,...,22032,22032,22032,22032,22032,22032,22032,22032,22032,22032
Dorset,17616,17616,17616,17616,17616,17616,17616,17616,17616,15240,...,17616,17616,17616,17616,17616,17616,17616,17616,17616,17616
Gloucestershire,20528,20528,20528,20528,20528,20528,20528,20528,20528,14600,...,20528,20528,20528,20528,20528,20528,20528,20528,20528,20528
Isles of Scilly,180,180,180,180,180,180,180,180,180,0,...,180,180,180,180,180,180,180,180,180,180
North Somerset,7584,7584,7584,7584,7584,7584,7584,7584,7584,7584,...,7584,7584,7584,7584,7584,7584,7584,7584,7584,7584
Plymouth,7716,7716,7716,7716,7716,7716,7716,7716,7716,7716,...,7716,7716,7716,7716,7716,7716,7716,7716,7716,7716
Poole,5088,5088,5088,5088,5088,5088,5088,5088,5088,5088,...,5088,5088,5088,5088,5088,5088,5088,5088,5088,5088
Somerset,18576,18576,18576,18576,18576,18576,18576,18576,18576,12144,...,18576,18576,18576,18576,18576,18576,18576,18576,18576,18576
South Gloucestershire,9552,9552,9552,9552,9552,9552,9552,9552,9552,9312,...,9552,9552,9552,9552,9552,9552,9552,9552,9552,9552
Swindon,7440,7440,7440,7440,7440,7440,7440,7440,7440,7056,...,7440,7440,7440,7440,7440,7440,7440,7440,7440,7440
Torbay,3408,3408,3408,3408,3408,3408,3408,3408,3408,3384,...,3408,3408,3408,3408,3408,3408,3408,3408,3408,3408
Wiltshire,15804,15804,15804,15804,15804,15804,15804,15804,15804,11988,...,15804,15804,15804,15804,15804,15804,15804,15804,15804,15804

In [24]:
traffic_dff10 = traffic_df[traffic_df.City == 'Wales']
traffic_dff10.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Blaenau Gwent,2184,2184,2184,2184,2184,2184,2184,2184,2184,1752,...,2184,2184,2184,2184,2184,2184,2184,2184,2184,2184
Bridgend,4440,4440,4440,4440,4440,4440,4440,4440,4440,4128,...,4440,4440,4440,4440,4440,4440,4440,4440,4440,4440
Caerphilly,6648,6648,6648,6648,6648,6648,6648,6648,6648,6024,...,6648,6648,6648,6648,6648,6648,6648,6648,6648,6648
Cardiff,14664,14664,14664,14664,14664,14664,14664,14664,14664,14640,...,14664,14664,14664,14664,14664,14664,14664,14664,14664,14664
Carmarthenshire,7440,7440,7440,7440,7440,7440,7440,7440,7440,5112,...,7440,7440,7440,7440,7440,7440,7440,7440,7440,7440
Ceredigion,2628,2628,2628,2628,2628,2628,2628,2628,2628,456,...,2628,2628,2628,2628,2628,2628,2628,2628,2628,2628
Conwy,3420,3420,3420,3420,3420,3420,3420,3420,3420,3108,...,3420,3420,3420,3420,3420,3420,3420,3420,3420,3420
Denbighshire,3012,3012,3012,3012,3012,3012,3012,3012,3012,2160,...,3012,3012,3012,3012,3012,3012,3012,3012,3012,3012
Flintshire,5016,5016,5016,5016,5016,5016,5016,5016,5016,4752,...,5016,5016,5016,5016,5016,5016,5016,5016,5016,5016
Gwynedd,3563,3563,3563,3563,3563,3563,3563,3563,3563,1368,...,3563,3563,3563,3563,3563,3563,3563,3563,3563,3563
Isle of Anglesey,2256,2256,2256,2256,2256,2256,2256,2256,2256,1488,...,2256,2256,2256,2256,2256,2256,2256,2256,2256,2256
Merthyr Tydfil,1776,1776,1776,1776,1776,1776,1776,1776,1776,1608,...,1776,1776,1776,1776,1776,1776,1776,1776,1776,1776
Monmouthshire,4127,4127,4127,4127,4127,4127,4127,4127,4127,2256,...,4127,4127,4127,4127,4127,4127,4127,4127,4127,4127
Neath Port Talbot,2952,2952,2952,2952,2952,2952,2952,2952,2952,2904,...,2952,2952,2952,2952,2952,2952,2952,2952,2952,2952
Newport,6048,6048,6048,6048,6048,6048,6048,6048,6048,5640,...,6048,6048,6048,6048,6048,6048,6048,6048,6048,6048
Pembrokeshire,4404,4404,4404,4404,4404,4404,4404,4404,4404,2832,...,4404,4404,4404,4404,4404,4404,4404,4404,4404,4404
Powys,5112,5112,5112,5112,5112,5112,5112,5112,5112,2808,...,5112,5112,5112,5112,5112,5112,5112,5112,5112,5112
"Rhondda, Cynon, Taff",7728,7728,7728,7728,7728,7728,7728,7728,7728,7560,...,7728,7728,7728,7728,7728,7728,7728,7728,7728,7728
Swansea,8472,8472,8472,8472,8472,8472,8472,8472,8472,7968,...,8472,8472,8472,8472,8472,8472,8472,8472,8472,8472
The Vale of Glamorgan,5688,5688,5688,5688,5688,5688,5688,5688,5688,5208,...,5688,5688,5688,5688,5688,5688,5688,5688,5688,5688
Torfaen,3936,3936,3936,3936,3936,3936,3936,3936,3936,3792,...,3936,3936,3936,3936,3936,3936,3936,3936,3936,3936
Wrexham,4188,4188,4188,4188,4188,4188,4188,4188,4188,3948,...,4188,4188,4188,4188,4188,4188,4188,4188,4188,4188

In [23]:
traffic_dff11 = traffic_df[traffic_df.City == 'West Midlands']
traffic_dff11.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Birmingham,32076,32076,32076,32076,32076,32076,32076,32076,32076,32076,...,32076,32076,32076,32076,32076,32076,32076,32076,32076,32076
Coventry,10980,10980,10980,10980,10980,10980,10980,10980,10980,10980,...,10980,10980,10980,10980,10980,10980,10980,10980,10980,10980
Dudley,8832,8832,8832,8832,8832,8832,8832,8832,8832,8832,...,8832,8832,8832,8832,8832,8832,8832,8832,8832,8832
"Herefordshire, County of",7104,7104,7104,7104,7104,7104,7104,7104,7104,2928,...,7104,7104,7104,7104,7104,7104,7104,7104,7104,7104
Sandwell,8808,8808,8808,8808,8808,8808,8808,8808,8808,8808,...,8808,8808,8808,8808,8808,8808,8808,8808,8808,8808
Shropshire,10824,10824,10824,10824,10824,10824,10824,10824,10824,6288,...,10824,10824,10824,10824,10824,10824,10824,10824,10824,10824
Solihull,8880,8880,8880,8880,8880,8880,8880,8880,8880,8880,...,8880,8880,8880,8880,8880,8880,8880,8880,8880,8880
Staffordshire,23052,23052,23052,23052,23052,23052,23052,23052,23052,21204,...,23052,23052,23052,23052,23052,23052,23052,23052,23052,23052
Stoke-on-Trent,5124,5124,5124,5124,5124,5124,5124,5124,5124,4920,...,5124,5124,5124,5124,5124,5124,5124,5124,5124,5124
Telford and Wrekin,7752,7752,7752,7752,7752,7752,7752,7752,7752,7032,...,7752,7752,7752,7752,7752,7752,7752,7752,7752,7752
Walsall,6060,6060,6060,6060,6060,6060,6060,6060,6060,6012,...,6060,6060,6060,6060,6060,6060,6060,6060,6060,6060
Warwickshire,23715,23715,23715,23715,23715,23715,23715,23715,23715,21891,...,23715,23715,23715,23715,23715,23715,23715,23715,23715,23715
Wolverhampton,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672,...,6672,6672,6672,6672,6672,6672,6672,6672,6672,6672
Worcestershire,19776,19776,19776,19776,19776,19776,19776,19776,19776,18024,...,19776,19776,19776,19776,19776,19776,19776,19776,19776,19776

In [22]:
traffic_dff11 = traffic_df[traffic_df.City == 'Yorkshire & the Humber']
traffic_dff11.groupby(['Area']).count()

,index,City,ONS LACode,CP,S Ref E,S Ref N,S_Ref_Latitude,S_Ref_Longitude,Road,Road_Name,...,LGV,HGVR2,HGVR3,HGVR4,HGVA3,HGVA5,HGVA6,HGV,AMV,hours
Area,,,,,,,,,,,,,,,,,,,,,
Barnsley,5952,5952,5952,5952,5952,5952,5952,5952,5952,5808,...,5952,5952,5952,5952,5952,5952,5952,5952,5952,5952
Bradford,11913,11913,11913,11913,11913,11913,11913,11913,11913,11793,...,11913,11913,11913,11913,11913,11913,11913,11913,11913,11913
Calderdale,4992,4992,4992,4992,4992,4992,4992,4992,4992,4992,...,4992,4992,4992,4992,4992,4992,4992,4992,4992,4992
Doncaster,9180,9180,9180,9180,9180,9180,9180,9180,9180,9096,...,9180,9180,9180,9180,9180,9180,9180,9180,9180,9180
East Riding of Yorkshire,12168,12168,12168,12168,12168,12168,12168,12168,12168,10056,...,12168,12168,12168,12168,12168,12168,12168,12168,12168,12168
"Kingston upon Hull, City of",7656,7656,7656,7656,7656,7656,7656,7656,7656,7536,...,7656,7656,7656,7656,7656,7656,7656,7656,7656,7656
Kirklees,8280,8280,8280,8280,8280,8280,8280,8280,8280,8256,...,8280,8280,8280,8280,8280,8280,8280,8280,8280,8280
Leeds,20352,20352,20352,20352,20352,20352,20352,20352,20352,20352,...,20352,20352,20352,20352,20352,20352,20352,20352,20352,20352
North East Lincolnshire,5172,5172,5172,5172,5172,5172,5172,5172,5172,4776,...,5172,5172,5172,5172,5172,5172,5172,5172,5172,5172
North Lincolnshire,5256,5256,5256,5256,5256,5256,5256,5256,5256,4368,...,5256,5256,5256,5256,5256,5256,5256,5256,5256,5256
North Yorkshire,23832,23832,23832,23832,23832,23832,23832,23832,23832,14988,...,23832,23832,23832,23832,23832,23832,23832,23832,23832,23832
Rotherham,7704,7704,7704,7704,7704,7704,7704,7704,7704,7704,...,7704,7704,7704,7704,7704,7704,7704,7704,7704,7704
Sheffield,12432,12432,12432,12432,12432,12432,12432,12432,12432,12432,...,12432,12432,12432,12432,12432,12432,12432,12432,12432,12432
Wakefield,7968,7968,7968,7968,7968,7968,7968,7968,7968,7968,...,7968,7968,7968,7968,7968,7968,7968,7968,7968,7968
York,5280,5280,5280,5280,5280,5280,5280,5280,5280,5040,...,5280,5280,5280,5280,5280,5280,5280,5280,5280,5280